name: Destroy t3.micro EC2

on:
  workflow_dispatch:
    inputs:
      ec2-name:
        description: EC2 name
        required: true
        default: 'App Server'
        type: string
            # Terraform action you want to perform
      terraform_operation:
        description: "Terraform operation: plan, destroy"
        required: true
        default: "plan"
        type: choice
        options:
        - plan
        - destroy
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: us-east-1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: Terraform init
        run: terraform init

      - name: Terraform plan
        run: terraform plan
        if: "${{ github.event.inputs.terraform_operation == 'plan' }}"

      - name: Terraform apply -destroy
        env:
          TF_VAR_ec2_name:  "${{ github.event.inputs.ec2-name }}"
        run: terraform apply -destroy
        if: "${{ github.event.inputs.terraform_operation == 'destroy' }}"
            


